.folder-item-container {
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	transform: 0.3s ease-in-out all;
	user-select: none;

	.folder-item-content {
		display: flex;
		align-items: center;
		justify-content: start;
		width: 100%;
		padding-bottom: 7px;
		padding-top: 7px;
		transition: transform 0.1s ease-in-out;
		border-radius: 8px;
		background-color: var(--item-background-color);
		height: 36px;
		cursor: pointer;
		transform: 0.3s ease-in-out all;
		// mask-image: var(--sidebar-mask);

		&:hover {
			background-color: var(--sidebar-surface-secondary);

			.options-btn {
				visibility: visible;
			}
		}
	}

	.folder-item-content.first-level {
	}

	.folder-details-wrapper {
		padding-right: 10px;
		transform: scale(0.98);
		transition: transform 0.1s ease-in-out;
		overflow: hidden;
		position: relative;
		width: 100%;

		.options-btn {
			position: absolute;
			right: 8px;
			color: grey;
			width: 20px;
			height: 20px;
			visibility: hidden;
		}
	}

	.folder-item-title {
		width: 100%;
		mask-image: 'var(--sidebar-mask)';
	}

	.folder-item-subfolders {
		display: flex;
		align-items: start;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		transform: 0.3s ease-in-out all;
		display: none;
	}

	.folder-item-icon {
		margin-right: 4px;
	}
}

.open-folder {
	display: flex !important;
}
