/* SidebarItems.scss */
.sidebar-item {
	position: relative;
	cursor: pointer;

	& > div {
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 8px;
		transition: transform 0.1s ease-in-out;
		border-radius: 8px;
		background-color: var(--item-background-color);
		height: 36px;
		font-size: 0.875rem;
	}

	& > div:hover {
		background-color: var(--sidebar-surface-secondary);

		.options-btn {
			visibility: visible;
		}
	}

	& > div:hover {
		// transform: scale(0.98);
	}

	.sidebar-item-content {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: 100%;
		display: flex;
		align-items: center;

		&:active {
			.sidebar-item-content {
				opacity: 0.9;
			}
		}
	}

	.group-active-scale {
		transform: scale(0.98);
		transition: transform 0.1s ease-in-out;
		overflow: hidden;
		position: relative;
		width: 100%;

		.options-btn {
			position: absolute;
			right: 0;
			color: grey;
			width: 20px;
			height: 20px;
			visibility: hidden;

			&:active {
				.options-btn {
					opacity: 0.9;
					color: white;
				}
			}
		}
	}
}

.sidebar-item-active {
	background-color: var(--sidebar-surface-secondary);
	border-radius: 8px;
}
