// *,
// *::after,
// *::before {
// 	margin: 0;
// 	padding: 0;
// 	box-sizing: border-box;
// 	background-color: #242424;
// }
.display-none {
	display: none;
}

.hide-scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}
