.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 999;
}

.modal-container {
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--main-surface-secondary);
	border-radius: var(--radius-2xl);
	overflow: hidden;

	.modal-title {
		width: 100%;
	}
}
