.folders-sidebar-container {
	// max-width: 200px;
	overflow: hidden;
}

.folders-wrapper {
	// padding: 10px;

	ol {
		width: 100%;
	}
}

.folder-item-no-conversations {
	padding: 0 15px;
	font-size: 0.8rem;
	color: var(--text-quaternary);
	user-select: none;
}
